<?xml version="1.0" encording="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>Gateway control page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body style="background-color: #212124;">
<a href=# id=startAtt1><button class="btn success">Enable Encryption </button></a>&nbsp
<a href=# id=stopAtt1><button class="btn info">Exchange Key</button></a>
<a href=# id=stopAtt1><button class="btn danger">Disable Encryption</button></a>&nbsp
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        // Start the black out attack.
        $('a#startAtt1').bind('click', function() {
        $.getJSON('/startAtt1',
            function(data) {
            //do nothing
        });
        return false;
        });
        // Stop the black out attack.
        $('a#stopAtt1').bind('click', function() {
        $.getJSON('/stopAtt1',
            function(data) {
            //do nothing
        });
        return false;
        });
        // Start the false data injection attack.
        $('a#startAtt2').bind('click', function() {
        $.getJSON('/startAtt2',
            function(data) {
            //do nothing
        });
        return false;
        });
        // Stop the false data injection attack.
        $('a#stopAtt2').bind('click', function() {
        $.getJSON('/stopAtt2',
            function(data) {
            //do nothing
        });
        return false;
        });
    });
</script>
</body>

</html>